$menuColor: '#4cb19e ';
$lighterMenuColor: '#6bc1b1 ';

/* Structure specific for the organization table*/
.container{
  background: #eee;
  padding-top: 15vh;
}

mat-card {
  margin: auto ;
  
  width: 700px;
  height: auto;
}

.organization-container {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
}

.organization-table {
  flex: 1 1 auto;
  overflow: auto;
  max-height: 500px;
}

.organization-header-row,
.organization-row {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  min-height: 60px;
  padding: 0 8px;
}

.organization-header-row {
  background-color: #{$menuColor};
}

.organization-header-cell {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.904);
  text-align: center;
  text-transform: capitalize;
}

.organization-header-cell:not(:last-of-type)::after {
  /* content: ""; */
  position: absolute;
  display: block;
  width: 1px;
  height: calc(60px*0.8);
  top: 10%;
  right: 0;
  background-color: white;
  overflow: hidden;
}

.organization-cell {
  /* font-size: 14px; */
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
}

mat-row:hover {
  background-color: #aad1e4;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1),
{
  // flex: 0 0 5%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2),
{
  /* flex: 0 0 20%; */
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3),
{
  /* flex: 0 0 40%; */
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4),
{
  /* flex: 0 0 15%; */
}
