<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="organization-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" class="organization-table" matSort>

          <ng-container *ngFor='let col of allColumns; let i = index;' [matColumnDef]='col?.label'>
            <mat-header-cell *matHeaderCellDef class="organization-header-cell" [textContent]='col?.value'></mat-header-cell>
            <mat-cell *matCellDef="let row" class="organization-cell" [textContent]='insertValues(col?.label, row)'></mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="organization-header-row"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" class="organization-row" title='Double click to go to this organization detailed page.'
            (dblclick)="handleRowClick(row)"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>