<div class='wrapper'>
    <app-sidebar class='trans-15s' [strings]='strings' [links]='links' [languages]='languages' [localLng]='localLng' [initLocalization]='initLocalization'></app-sidebar>
    <div class='trans-15s main-panel'>
        <div class='trans-15s admin-header' [textContent]='header'></div>
        <router-outlet></router-outlet>
        <div class='trans-15s admin-footer'>
            <mat-form-field>
                <mat-select *ngIf='strings' placeholder='' [(ngModel)]="localLng" (change)='saveLocalization($event.value.trim())'>
                  <mat-option *ngFor="let lng of languages" [value]="lng.value" [textContent]='lng.label'></mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
</div>